<% include header.ejs %>

<body>
  <div id="wrap">
    <div class="container">
      <ul class="list_cont">
        <% boards.forEach(function(board) { %>
   
        <li <% if(board.createdDate == today) {%>class="new"<%}%>>
          <a class="link_cont" href="/view/<%= board._id %>">
            <%= board.tit %>
          </a>
          <span class="txt_date">
            <%= board.createdDate %>
          </span>
        </li>
        <% }) %>
    </div>
  </div>
</body>

</html>