*{
  margin:0;
  padding: 0;
}
ul{
  list-style: none;
}
.loader{
  li{
    position:absolute;
    background-size:100%;
    top: 0;
    width:25%;
    height: 100vh;
    background:url(https://images.unsplash.com/photo-1542759564-7ccbb6ac450a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=36575ad9d585e14ffde8d6e8c47e364d&auto=format&fit=crop&w=2175&q=80) no-repeat;
    &:nth-child(2){
      left: 25%;
      background-position:25% 0;
    };
    &:nth-child(3){
      left: 50%;
      background-position:50% 0;
    };
    &:nth-child(4){
      left: 75%;
      background-position:75% 0;
    }
  };

}