.container {
  width: 100%;
  max-width: 800px;
  margin: auto; }

.container .tit_cont {
  font-size: 3.2rem;
  padding: 30px 20px 10px;
  line-height: 1.3;
  border-bottom: 1px solid #e3e3e3;
  color: #000; }

.container .wrap_cont {
  line-height: 2;
  padding: 20px;
  font-size: 1.6rem;
  padding-bottom: 20px;
  border-bottom: 1px solid #e3e3e3; }

.container .wrap_cont img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 20px auto; }

.list_cont li {
  overflow: hidden;
  padding: 10px;
  border-bottom: 1px solid #e3e3e3; }

.list_cont li.new .link_cont:after {
  content: 'N';
  background: #ff4400;
  color: #fff;
  padding: 0 3px;
  border-radius: 3px;
  font-size: 11px;
  line-height: 1; }

.list_cont .link_cont {
  color: #111;
  font-size: 1.6rem; }

.list_cont .link_cont:visited {
  color: #ccc; }

.list_cont .txt_date {
  float: right;
  font-size: 1.4rem;
  color: #555; }

.form_reply {
  padding: 0 20px 30px;
  overflow: hidden;
  margin-bottom: 10px;
  border-bottom: 1px solid #e3e3e3; }

.form_reply #inpName,
.form_reply #inpPassword {
  float: left;
  height: 30px;
  margin: 20px 10px 5px 0;
  width: 120px;
  border: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #e3e3e3; }

.form_reply #inpCont {
  float: left;
  width: calc(100% - 100px);
  padding: 5px;
  resize: none;
  height: 80px;
  border: 1px solid #e3e3e3; }

.form_reply .btn_save {
  float: right;
  width: 80px;
  height: 80px;
  color: #fff;
  font-size: 15px;
  border: none;
  background: #3a3a3a; }

.list_reply {
  clear: both;
  padding: 0 20px; }

.list_reply li {
  padding: 20px 0;
  border-bottom: 1px solid #e3e3e3; }

.list_reply li .txt_name,
.list_reply li .txt_date {
  float: left;
  font-size: 14px; }

.list_reply li .txt_name {
  margin-right: 15px;
  color: #555; }

.list_reply li .txt_date {
  color: #999; }

.list_reply li .txt_cont {
  display: block;
  line-height: 1.5;
  word-break: keep-all;
  clear: both;
  padding-top: 15px;
  font-size: 14px; }
